<h2>KnifeShop</h2>
<div class="container-fluid">
<div class="row">
<% @products.each do |product| %>
  
  <div class="col-md-6">
  	
  	<div>
  		<%= product.title %>
  	</div>

  	<div>
  	<img src="<%= product.path_to_image %>"> 
  	</div>

  	<div>
  		<%= product.description %>
  	</div>

  	<div>
  		Цена: <%= product.price %> руб.
  	</div>

  	<div>
  		Размер: <%= product.size %> мм.
  	</div>
	
	<div>
	<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Добавить в корзину</button>
	</div>

  </div>

<% end %>
</div>
</div>

<script type="text/javascript"> 
  $(function() {

   update_orders_input(); 
   update_orders_button();

  });
</script>

